 .our-values-title span:last-child {
  color: #20b5cd;
}
 .our-values-title span {
  font-family: Poppins;
  font-weight: 700;
  font-size: 62px;
  line-height: 95px;
}
.team-inner .our-values-title span:last-child {
  color: #20b5cd;
}
.team-inner .our-values-title span {
  color: #fff;
  font-family: Poppins;
  font-weight: 700;
  font-size: 62px;
  line-height: 95px;
}
.hor-line {
  border-top: 6px solid #20b5cd;
  width: 50px;
}
.team-container {
  background-color: #202A3B;
}
.our-values-container {
  background-color: #fff;
}
.our-values-inner {
  min-height: auto;
  padding: 60px 150px 0;
  margin: 30px auto;
  position: relative;
}
.team-inner {
  min-height: auto;
  padding: 40px 150px 0;
  margin: 0 auto;
  position: relative;
}
.cards {
  min-height: auto;
  padding: 40px 0px 0;
}
.row {
  padding: 40px 10px 0;
}
.card-title{
  font-weight: 700;
    font-size: 36px;
    color: #333;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    font-family: Poppins;
}
.card-content{
  font-size: 22px;
  line-height: 35px;
  font-family: Poppins;
  color: #999;
}
    