@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.main-content-home {
  position: relative;
  top: 0;
  padding-top: 70px;
  padding-bottom: 20px;

}

.bg-text {
  /* background-color: rgb(0, 0, 0); Fallback color */
  /* background-color: rgba(0, 0, 0, 0.4); Black w/opacity/see-through */
  /* color: white; */
  /* font-weight: bold; */
  /* border: 3px solid #f1f1f1; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center; */
}
body {
  margin: 3em;
}
.card:hover {
  transform: scale(1.1);
}
.card {
  transition: transform 0.5s;
}

.black-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20%; /* Adjust the percentage as needed */
  background-color: black;
}

/* .fancy-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  text-decoration: none;
  overflow: hidden;
}

.fancy-button span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}

.fancy-button .button-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s;
}

.fancy-button:hover span {
  transform: translateY(-5px);
}

.fancy-button:hover .button-bar {
  transform: scaleX(1);
} */
