@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");

.main-content-home {
  position: relative;
  top: 0;
  padding-top: 64px;
  padding-bottom: 20px;
}
body {
  margin: 3em;
}
.card:hover {
  transform: scale(1.1);
}
.card {
  transition: transform 0.5s;
}

.black-background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 20%; /* Adjust the percentage as needed */
  background-color: black;
}
.image-container {
  position: relative;
  display: inline-block;
  transition: transform 0.3s ease;
}

.image-container:hover {
  transform: scale(0.9);
}
